.topBar {
    display: flex;
    align-items: center;
    gap: 30px;
    background: #388BFF;
    transform: rotate(4deg);
    overflow: hidden;
    white-space: nowrap;
    padding-block: 40px;
    position: relative;
    width: 110%;
    z-index: 10;
}

.topBarContent {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    animation: scrolling-left 20s linear infinite;

    span {
        color:  #0B090D;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 100%; /* 32px */
    }
}


.bottomBar {
    display: flex;
    align-items: center;
    gap: 30px;
    background: #7F35FF;
    width: 110%;
    right: 10px;
    padding-block: 40px;
    transform: rotate(-4deg);
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-bottom: 15px;
    bottom: 75px;
}


.bottomBarContent {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    animation: scrolling-right 20s linear infinite;

    span {
        color: #FFF;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 100%; /* 32px */
    }
}


@keyframes scrolling-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


@keyframes scrolling-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}