.container {
    padding: 0 32px;
    max-width: 1440px;
    margin: 0 auto;
    gap: 32px;
    position: relative;
    @media screen and (max-width: 768px) {
        padding-inline: 20px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
}

.topBar {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    h3 {
        color: var(--text-text, #FFF);

        /* Web/Headline/h3 */
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 125% */
    }
}