.etherium:nth-child(1) {
    display: inline-block;
    overflow: hidden;
    img {
        position: absolute;
        filter: hue-rotate(250deg) saturate(2.5) brightness(1.2) contrast(1.2); /* Ajusta o tom e intensidade */
        width: 349.701px;
        height: 349.701px;
        top: 50%;
        left: -3%;
        z-index: -1;
        animation: float1 3s ease-in-out infinite;
        animation-delay: 0s;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}

.etherium:nth-child(2) {
    display: inline-block;
    overflow: hidden;
    img {
        position: absolute;
        filter: hue-rotate(250deg) saturate(2.5) brightness(1.2) contrast(1.2); /* Ajusta o tom e intensidade */
        width: 226.879px;
        height: 226.879px;
        top: -10%;
        left: 40%;
        z-index: -1;
        transform: rotate(180deg);
        animation: float2 3s ease-in-out infinite;
        animation-delay: 1s;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}

.etherium:nth-child(3) {
    display: inline-block;
    overflow: hidden;
    img {
        position: absolute;
        width: 298.987px;
        height: 298.987px;
        transform: rotate(180deg);
        bottom: 0;
        right: 0%;
        z-index: -1;
        animation: float3 3s ease-in-out infinite;
        animation-delay: 2s;
        filter: blur(2px) hue-rotate(250deg) saturate(2.5) brightness(1.2) contrast(1.2);
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}

.container {
    padding: 0 32px;
    max-width: 1440px;
    margin: 0 auto;
    gap: 32px;
    position: relative;;
    @media screen and (max-width: 768px) {
        padding-inline: 20px;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-bottom: 64px;
    }
}

.leftSide {
    display: flex;
    flex-direction: column;
    gap: 32px;
    @media screen and (max-width: 768px) {
        align-items: center;
    }
    h1 {
        color: var(--text-text, #FFF);
        /* Web/Headline/h1 */
        font-family: Inter;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 100%; /* 64px */
        width: 515px;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        text-align: left;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;

        h1 {
            color: var(--text-text, #FFF);

            /* Web Mobile/Headline/h1 */
            font-family: Inter;
            font-size: 48px;
            font-style: normal;
            font-weight: 900;
            line-height: 100%; /* 48px */
        }
    }
}

.buttons {
    display: flex;
    align-items: flex-start;
    gap: 24px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 216px;

        a {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%
        }

        img {
            width: 100%;
            height: 64px;
        }
    }
}

.rightSide {
    img {
        width: 514.592px;
        height: 647.425px;
        align-items: center;
        flex-shrink: 0;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}

@keyframes float1 {
    0% {
        transform: rotate(-15deg) translateY(0); /* Posição inicial */
    }
    50% {
        transform: rotate(-15deg) translateY(-20px); /* Sobe 20px */
    }
    100% {
        transform: rotate(-15deg) translateY(0); /* Volta para a posição original */
    }
}

@keyframes float2 {
    0% {
        transform: rotate(187deg) translateY(0); /* Posição inicial */
    }
    50% {
        transform: rotate(187deg) translateY(20px); /* Sobe 20px */
    }
    100% {
        transform: rotate(187deg) translateY(0); /* Volta para a posição original */
    }
}

@keyframes float3 {
    0% {
        transform: rotate(187deg) translateY(0); /* Posição inicial */
    }
    50% {
        transform: rotate(187deg) translateY(20px); /* Sobe 20px */
    }
    100% {
        transform: rotate(187deg) translateY(0); /* Volta para a posição original */
    }
}