.background {
    background-color: "#000"; // Fundo preto
    .semiCirculo {
        width: 75vw; // Aumentando a largura
        height: 60vw; // Aumentando a altura
        background: radial-gradient(circle at bottom, rgba(111, 0, 255, 0.8), rgba(111, 0, 255, 0.5) 30%, rgba(74, 0, 115, 0.3) 60%, rgba(0, 0, 0, 0) 70%); // Gradiente radial
        position: absolute;
        top: 40%; // Posicionando mais ao centro
        left: 60%;
        transform: translate(-50%, -75%) rotate(180deg); // Centralizando e rotacionando 180 graus
        opacity: 1; // Opacidade completa
        filter: blur(250px);
    }

    @media screen and (max-width: 768px) {
        .semiCirculo {
            width: 100vw;
            height: 100vw;
            top: 40%;
            left: 50%;
        }
    }
}
