.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.container {
    padding: 24px 32px;
    max-width: 1440px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
        padding-inline: 20px;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    @media screen and (max-width: 768px) {
        display: none;
    }
    img {
        width: 111px;
        align-items: center;
        gap: 7.744px;
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
        display: none;
    }

    li {
        list-style: none;
    }

    a { 
        color: var(--text-text, #FFF);
        text-align: center;
        /* Web/Navigation/Regular */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 100% */
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}
